body {
  background: linear-gradient(135deg, #8275fb, #46c9e5);
  font-family: Arial, sans-serif;
  min-height: 100vh;
  margin: 0;
}

.form {
  display: flex;
  gap: 12px;
  padding: 20px 25px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  margin: 10px auto;
  max-width: 400px;
}

.input {
  /* flex: none; */
  width: 200px;
  padding: 12px 18px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.25);
  color: #fff;
  outline: none;
  transition: 0.3s ease;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.input:focus {
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.6);
}

.btn {
  padding: 12px 20px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.35);
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.55);
  transform: translateY(-2px);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  list-style: none;
}

.gallery img {
  display: block;
  width: 360px;
  height: 200px;
  object-fit: cover;
}

.loader.is-visible {
  display: flex;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.info p {
  margin: 0;
  padding: 0 5px;
  font-weight: bold;
}

.loader {
  font-size: 38px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  display: none;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  text-align: center;
  position: relative;
  width: 200px;
}

.loader:after {
  content: 'Loading';
  position: relative;
  z-index: 5;
}

.loader:before {
  content: '';
  height: 6px;
  border: 1px solid;
  border-radius: 10px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background: linear-gradient(#f5f904 100%, transparent 0) no-repeat;
  background-size: 0% auto;
  animation: 10s lineGrow linear infinite;
}

@keyframes lineGrow {
  to {
    background-size: 100% auto;
  }
}
